header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    padding:1em;
}

.header_icon {
    object-fit: contain;
    width:6em;
    height:auto;
    margin-left:0.5em;
}

.header_center {
    display: flex;
    flex:1;
    align-items:center;
    max-width: fit-content;
    padding: 0.4em;
    height:auto;
    border: 1px solid lightgray;
    border-radius: 5em;
}

.header_center > input {
    border: none;
    width: 100%;
    outline-width: 1;  
}

.header_right {
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 15vw;
    margin-right:2.5em;

}

.header_right p {
    font-size:0.8em;
}